<!doctype html>
<html lang="en">
<%- include('includes/head');
    -%>

  <body>
    <%- include('includes/nav');-%>
      <div class="containe mt-5 text-center">
        <h1>Not Found!</h1>
        <img class="img-fluid"
             src="/images/404.png"
             alt="Not found">
      </div>
      <%- include('includes/footer');-%>
  </body>

</html>
